<div class="grid_info_wrapper flex-wrapper">
    <div class="left_side">
        <button id="pdf_button" type="button" class="grid_info_button btn btn-primary">PDF</button>
        <button id="copy_button" type="button" class="grid_info_button btn btn-primary">Skopiuj harmonogram</button>
        <br>
        <button id="excel_button" type="button" class="grid_info_button btn btn-primary">XLS</button>
    </div>
    <div class="right_side">
        <div id="cost" class="to_right"><span class="bold">Koszt</span>: 55 zł</div>
    </div>
</div>
